= form_for @article, :url => article_path do |f|
  %section#entry
    = f.text_area :markdown
    .fake-text-area{:contenteditable => 'plaintext-only', :style => 'display:none'}
      = @article.markdown

  %section#display
    = render :partial => 'display_html'
  %section#actions
    = f.submit 'Convert'
  %section#status


